<%- include('blocks/header') %>

      
      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Login User</h2>
            <div class="line-dec"></div>
           
          </div>
          <div class="row">
            
              <div class="container">
                
                <p class='alert text-danger'><%=msg%></p>

                <form id="contact" action="/web/login" 
                method="post">
                  <div class="row">                   
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>

                    <div class="col-md-12">
                        <fieldset>
                          <input
                            name="password"
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="Your password..."
                            required=""
                          />
                        </fieldset>
                      </div>
                      
                    
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Login
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
             
            </div>
          </div>
        </div>
      </section>
    
      <%- include('blocks/footer') %>